<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>OMG - Game Of Thrones Characters - {% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('bundles/app/css/main.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="MainTitle">
			<h1></h1>
		</div>
		<div class="Menus">
			<div class="MainMenu" >
				{{ knp_menu_render('AppBundle:Builder:mainMenu') }}
			</div>
			<div class="SearchMenu" >
				{{ render(controller('OmgSearchBundle:Search:renderSearch')) }}
			</div>
		</div>
		<div class="FlashMessage" >
			{% for flashMessage in app.session.flashbag.get('logmessage') %}
				<p>{{ flashMessage}}</p>
			{% endfor %}
		</div>
		<div class="MainBody">
        {% block body %}{% endblock %}
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
